@model HomeViewModel

@* <partial name="_Stories">
 *@
 <partial name="_Carousel"/>







<section class="padding_home pt-20-sm pt-20-xs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="tit1_gen home_titulo" style="
    color: #3c2525;
">
                    Por <span style="
    color: #ff4700;
">categoria</span>
                </h2>
            </div>
            <div class="col-6 col-md-3 pl-2 pr-2 pt-20-sm  pt-20-xs">
                <a href="categoria.html"><img class="img-fluid  mr-auto ml-auto d-block" src="~/img/banner_categoria-01.png"></a>
            </div>

            <div class="col-6 col-md-3 pl-2 pr-2 pt-20-sm  pt-20-xs">
                <a href="categoria.html"><img class="img-fluid  mr-auto ml-auto d-block" src="~/img/banner_categoria-02.png"></a>
            </div>

            <div class="col-6 col-md-3 pl-2 pr-2 pt-20-sm  pt-20-xs">
                <a href="categoria.html"><img class="img-fluid  mr-auto ml-auto d-block" src="~/img/banner_categoria-03.png"></a>
            </div>
            <div class="col-6 col-md-3 pl-2 pr-2 pt-20-sm  pt-20-xs">
                <a href="categoria.html"><img class="img-fluid  mr-auto ml-auto d-block" src="~/img/banner_categoria-01.png"></a>
            </div>
        </div>
    </div>
</section>




<section class=" container padding_home">
    <div class="row">
        <div class="col-12">
            <h2 class="tit1_gen home_titulo" style="
    color: #3c2525;
">
                Por <span style="
    color: #ff4700;
">ocasião</span>
            </h2>
        </div>
        <div class="col-md-6 pr-5-lg pr-5-md  mt-25-xs">
            <a href="#"> <img src="~/img/banner_modalidade-01.png" class="img-fluid "></a>
        </div>
        <div class="col-md-6  pl-5-lg pl-5-md  mt-25-xs">
            <a href="#"> <img src="~/img/banner_modalidade-02.png" class="img-fluid "></a>
        </div>
        <div class="col-md-6 pr-5-lg pr-5-md mt-25-lg mt-25-md mt-25-sm mt-25-xs ">
            <a href="#"> <img src="~/img/banner_modalidade-03.png" class="img-fluid "></a>
        </div>
        <div class="col-md-6 pl-5-lg pl-5-md mt-25-lg mt-25-md mt-25-sm mt-25-xs ">
            <a href="#"> <img src="~/img/banner_modalidade-04.png" class="img-fluid "></a>
        </div>
    </div>
</section>











<section class="produtos categorias">
    <div class="container">

        <div class="row   mt-50 mb-20">
            <div class="col-12">
                <h2 class="tit1_gen home_titulo" style="
    color: #3c2525;
">
                    Produtos em <span style="
    color: #ff4700;
">destaque</span>
                </h2>
            </div>
            <div class="col-12  mt-25-xs">
                @*      <h1>@ViewBag.totalprodutos </h1>


                <h1>@ViewData["data"] </h1> *@

            </div>

            @foreach (var produto in Model.ProdutosEmAlta)
            {
                if (!produto.NaoVenderIndividualmente)
                {
                    <partial name="_ProdutosResumo" for="@produto" />
                }
             }









        </div>

    </div>
</section>




















<section class="como_pedir pb-90-xs pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-140 mt-100-xs">Como pedir?</h2>
                <p>
                    Veja como é fácil realizar seu 1º pedido
                    em apenas 3 etapas simples.
                </p>
            </div>
        </div>

        <div class="row row_center_left mr-auto ml-auto mt-150  mt-90-xs  n_01">
            <div class="col-sm-3 col-md-4   d-none-xs d-none-sm">
                <img class="d-block ml-auto mr-25" src="img/escolha.png">
            </div>
            <div class="col-sm-9 col-md-8">
                <h3><span class="mr-15-md ml-15-lg  ">1</span> Escolha a surpresa aqui no site</h3>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Selecione o produto
                    </li>

                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Clique em Adicionar Pedido
                    </li>

                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Clique em “Continuar pelo Whatsapp”
                    </li>

                </ul>
                <a asp-area="" asp-controller="Produto" asp-action="List" class="mt-45 ml-25">Escolher agora</a>
            </div>
        </div>






        <div class="row row_center_right mr-auto ml-auto mt-200  mt-120- xs  n_02 ">

            <div class="col-sm-9 col-md-8 order-last-lg">
                <h3>
                    <span class=" d-none-md d-none-lg ">2</span>
                    Continue pelo Whatsapp
                    <span class="ml-15  d-none-sm d-none-xs  mr-auto-xs ml-auto-xs mr-auto-sm ml-auto-sm">2</span>
                </h3>
                <ul>
                    <li>
                        <svg class="  d-none-lg d-none-md " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Confirme os detalhes do pedido
                        <svg class=" d-none-xs d-none-sm  " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                    </li>

                    <li>
                        <svg class="  d-none-lg d-none-md " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Informe hora e local de entrega
                        <svg class=" d-none-xs d-none-sm " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                    </li>

                    <li>
                        <svg class="  d-none-lg d-none-md " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Pague ao atendente pelo Whatsapp
                        <svg class=" d-none-xs d-none-sm " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                    </li>

                </ul>
                <a class="mt-45 ml-25 ml-auto d-block" asp-area="" asp-controller="Produto" asp-action="List">Ver produtos</a>
            </div>

            <div class="col-sm-3 col-md-4  d-none-xs d-none-sm">
                <img class="d-block mr-auto ml-25" src="img/escolha.png">
            </div>

        </div>


        <div class="row row_center_left mr-auto ml-auto mt-200  mt-120- xs  n_03">
            <div class="col-sm-3 col-md-4   d-none-xs d-none-sm">
                <img class="d-block ml-auto mr-25" src="img/escolha.png">
            </div>
            <div class="col-sm-9 col-md-8">
                <h3><span class="mr-15-lg mr-15-md ">1</span> Acompanhe o pedido</h3>
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Acompanhe cada etapa de preparaçao
                    </li>

                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Saiba o monento de saida para entrega
                    </li>

                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by  - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                        Veja como foi o momento da entrega
                    </li>

                </ul>
                <a class="mt-45 ml-25" asp-area="" asp-controller="Produto" asp-action="List">Conhecer as opções</a>
            </div>
        </div>

    </div>
</section>

<partial name="_Faq"/>