    @* bg_topo bg_topo_banner *@


     
    <div class="container-fluid baner_principal" style="max-width:1900px;overflow: hidden;">
        <div class="row">
            <div class="col-12 col_0_xl">
                <div class="swiper-container bannerSite">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor=Festa+na+caixa"><img onload="obterAlturaLargura(this)" alt="DIferentes opções de surpresa" id="banner1" src="~/img/site/banner1.webp" /></a>
                        </div>
                        <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner2" alt="Surpreenda com muito carinho" src="~/img/site/banner2.webp" /></a>
                    </div>
                        <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner3" alt="Surpreenda sem sair de casa" src="~/img/site/banner3.webp" /></a>
                    </div>
                        <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor=Coleções+exclusivas"><img onload="obterAlturaLargura(this)" alt="Adicione opções extra" id="banner4" src="~/img/site/banner4.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner5" alt="banner 5" src="~/img/site/banner5.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner6" alt="banner 65" src="~/img/site/banner6.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner7" alt="banner 7" src="~/img/site/banner7.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner8" alt="banner 8" src="~/img/site/banner8.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner9" alt="banner 9" src="~/img/site/banner9.webp" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://pradois.com.br/Produto/Pesquisa?buscarPor="><img onload="obterAlturaLargura(this)" id="banner10" alt="banner 10" src="~/img/site/banner10.webp" /></a>
                    </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>





<script>
    function verificarStatusImagem(idImagem) {
        var imagemCategoriaHome = document.getElementById(idImagem);



        imagemCategoriaHome.addEventListener('error', function () {
            // Erro ao carregar a imagem, adicione o estilo display: none
            var divPai = imagemCategoriaHome.closest('.swiper-slide');
            if (divPai) {
                divPai.remove();
            }
        });
    }

    // Chame a função para cada imagem, passando o ID correspondente
    verificarStatusImagem('banner1');
    verificarStatusImagem('banner2');
    verificarStatusImagem('banner3');
    verificarStatusImagem('banner4');
    verificarStatusImagem('banner5');
    verificarStatusImagem('banner6');
    verificarStatusImagem('banner7');
    verificarStatusImagem('banner8');
    verificarStatusImagem('banner9');
    verificarStatusImagem('banner10');

</script>










    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



<script>
    // Função para configurar o Swiper
    function configurarSwiper() {
        var swiper = new Swiper(".bannerSite", {
            freeMode: true,
            loop: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 2000,
            },
            breakpoints: {
                0: {
                    slidesPerView: 1.2,
                    spaceBetween: 10,
                },
                360: {
                    slidesPerView: 1.2,
                    spaceBetween: 10,
                },
                411: {
                    slidesPerView: 1.2,
                    spaceBetween: 10,
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
            },
            on: {
                slideChange: function () {
                    // Obtém a imagem ativa no momento
                    var imagemAtiva = this.slides[this.activeIndex].querySelector('img');
                    if (imagemAtiva) {
                        // Aguarda a imagem ser carregada completamente
                        imagemAtiva.onload = function () {
                            obterAlturaLargura(imagemAtiva);
                        };
                    }
                }
            }
        });
    }

    // Função para obter altura e largura da imagem
    function obterAlturaLargura(imagem) {
        // Obter altura e largura renderizadas da imagem
        var alturaRenderizada = imagem.clientHeight;
        var larguraRenderizada = imagem.clientWidth;

        // Adicionar os atributos height e width à imagem
        imagem.setAttribute('height', alturaRenderizada);
        imagem.setAttribute('width', larguraRenderizada);

        console.log('Altura renderizada: ' + alturaRenderizada + ' pixels');
        console.log('Largura renderizada: ' + larguraRenderizada + ' pixels');
    }

    // Aguarda o carregamento completo da página
    document.addEventListener("DOMContentLoaded", function () {
        configurarSwiper();
    });
</script>