<section class="faq pt-100 pt-50-xs pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="tit1_gen pb-40">Principais Dúvidas</h2>
                <div class="accordion accordion_gen mt_60_gen" id="accordionExample">

                    <article class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Qual é o período mínimo recomendado para realizar um pedido?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                        <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                    </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Recomendamos que os pedidos sejam feitos com pelo menos 2 dias de antecedência. Pedidos com menos tempo podem estar sujeitos à disponibilidade de horário para entrega.
                            </div>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card-header p-0" id="headingTwo">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    A Pradois realiza entregas?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                        <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                    </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Sim, realizamos entregas gratuitas em Feira de Santana dentro do anel de contorno, fora do anel de contorno da cidade cobramos uma pequena taxa para fazermos a entrega, mas fique tranquilo a taxa não costuma passar de R$20.00, entregamos exclusivamente na cidade de Feira de Santana - BA.
                            </div>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card-header p-0" id="headingThree">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    É possível adicionar itens extras à cesta?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                        <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                    </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Sim, é possível adicionar itens como fotos, balões com frases, ursos de pelúcia, caneca, buquês com 12 ou 6 rosas ou 2 rosas, arranjos de flores, entre várias outras opções. Cada adição está sujeita a custos adicionais.
                            </div>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card-header p-0" id="headingFour">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                    Quais são as formas de pagamento aceitas?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far"
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                    <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Aceitamos cartões de crédito em até 12x sendo que até 3x não incluí juros, aceitamos também transferência bancária e PIX. Para pagamentos via PIX, não aceitamos pagamento na entrega, pois o pedido só é preparado mediante pagamento.
                            </div>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card-header p-0" id="headingFive">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                    Qual garantia tenho de receber minha entrega após o pagamento?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                        <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                    </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Nos últimos 4 anos Temos nos dedicado árduamente para conquistar a confiança de nossos clientes dentro e fora de Feira de Santana. Valorizamos a nossa reputação no mercado e cada cliente fiel. Pode ficar tranquilo, não arriscaríamos nossa história por meros reais. Estamos comprometidos em garantir que seu pedido seja entregue de forma segura e eficiente.
                            </div>
                        </div>
                    </article>

                    <article class="card" style="display:none;">
                        <div class="card-header p-0" id="headingSix">
                            <h3 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed tit2_gen p-4" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                                    Como posso ganhar desconto?
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14">
                                        <path fill="currentColor" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path>
                                    </svg>
                                </button>
                            </h3>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body color_fr0_gen descri2_gen pt-0 px-4">
                                Oferecemos dois tipos de desconto:
                                1. Em compras via PIX, você ganha 7% de desconto.
                                2. Em compras acima de duas cestas, você recebe 10% de desconto em cada cesta adicional.
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
</section>
