
    <!-- Demo app -->
         <!-- Demo content -->
<link rel="stylesheet" href="~/css/stories.css" asp-append-version="true">
<script type="module" src="~/js/stories.js"></script>
        <div class="demo-stories" >
            <a href="#">
                <span class="demo-stories-avatar">
                    <img src="~/img/stories/avatars/mark.jpg" alt="">
                </span>
                <span class="demo-stories-name">mark_johnson</span>
            </a>
            <a href="#">
                <span class="demo-stories-avatar">
                    <img src="~/img/stories/avatars/malenia.jpg" alt="">
                </span>
                <span class="demo-stories-name">malenia</span>
            </a>
            <a href="#">
                <span class="demo-stories-avatar">
                    <img src="~/img/stories/avatars/john.jpg" alt="">
                </span>
                <span class="demo-stories-name">john1986</span>
            </a>
        </div>
 
 
 
 

    <!-- Stories Slider -->
    <div class="stories-slider">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- specific user stories -->
                <div class="swiper-slide">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmark.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">mark_johnson</div>
                                    <div class="stories-slider-user-date">21h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/food-1.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmark.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">mark_johnson</div>
                                    <div class="stories-slider-user-date">12h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/food-2.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmark.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">mark_johnson</div>
                                    <div class="stories-slider-user-date">2h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <video src="/assets/video/video.mp4" playsinline preload="metadata"></video>
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmark.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">mark_johnson</div>
                                    <div class="stories-slider-user-date">30m</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/food-3.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmark.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">mark_johnson</div>
                                    <div class="stories-slider-user-date">15m</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/food-4.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- specific user stories -->
                <div class="swiper-slide">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmalenia.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">malenia</div>
                                    <div class="stories-slider-user-date">5h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/elden-1.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmalenia.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">malenia</div>
                                    <div class="stories-slider-user-date">45m</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/elden-2.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsmalenia.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">malenia</div>
                                    <div class="stories-slider-user-date">5m</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/elden-3.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- specific user stories -->
                <div class="swiper-slide">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsjohn.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">john1986</div>
                                    <div class="stories-slider-user-date">15h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/vacation-1.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsjohn.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">john1986</div>
                                    <div class="stories-slider-user-date">10h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/vacation-2.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsjohn.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">john1986</div>
                                    <div class="stories-slider-user-date">10h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/vacation-3.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsjohn.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">john1986</div>
                                    <div class="stories-slider-user-date">8h</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/vacation-4.jpg" />
                                </div>
                            </div>
                            <!-- user's single story -->
                            <div class="swiper-slide">
                                <a href="#" class="stories-slider-user">
                                    <div class="stories-slider-user-avatar">
                                        <img src="~/img/stories/avatarsjohn.jpg" />
                                    </div>
                                    <div class="stories-slider-user-name">john1986</div>
                                    <div class="stories-slider-user-date">47m</div>
                                </a>
                                <div class="stories-slider-actions">
                                    <button class="stories-slider-close-button"></button>
                                </div>
                                <div class="stories-slider-content">
                                    <img src="~/img/stories/vacation-5.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
