@import url("color.css");
bod y{
    background-position: top center;
    background: url(../img/lp2.png);
}
*{
   font-family: "Roboto";
   font-family: Roboto!important;
   -webkit-transition: all ease .2s;
   -o-transition: all ease .2s;
   -moz-transition: all ease .2s;
   -ms-transition: all ease .2s;
   transition: all ease .2s;
}

.bg_topo{
   background: linear-gradient(315deg, var(--gradiente-primario) 30%, var(--gradiente-secuntario) 90%);
}
.bg_topo_banner{
   background: linear-gradient(to right, var(--gradiente-primario) 60%, var(--cor-primaria) 40%)!important;
}
.img_topo{
background-image:url(../img/img_topo.png) ;  
background-position:top right;
background-repeat: no-repeat;
}
button.btn.btn-link.btn-block.text-left.tit2_gen.p-4 {
   font-size: 22px;
   font-weight: 500;
   color: #000000ee;
}
.bg_topo h1 {
   font-size: 60px;
   font-family: "Roboto";
   color: rgb(255, 255, 255);
   line-height: 1.183;
   font-weight: 900;
   letter-spacing: -0.6px;
 }
 
 .bg_topo p {
   font-size: 28px;
   font-family: "Roboto";
   color: rgb(220, 192, 192);
   line-height: 1.357;
   font-weight: 300;
   max-width: 565px;
 }

 .bg_topo p b {
font-weight: 900;
 }

 .bg_topo p span {
   color: #ff6102;
   font-weight: 900;
}

.center_itens {
   display: flex;
}
.center_itens a {
   display: block;
   font-family: "Roboto";
   border-radius: 50px;
   max-width: 240px;
   width: 100%;
   text-align: center;
   padding: 14px 0;
   font-weight: 900;
   font-size: 22px;
   text-decoration: none;
   -webkit-transition: all ease .4s;
   -o-transition: all ease .4s;
   -moz-transition: all ease .4s;
   -ms-transition: all ease .4s;
   transition: all ease .4s;
}

.bg_topo .bt_cheio{
   border:2px solid var(--cor-tercearia);
   background: var(--cor-tercearia);
   color: #000;
}

.bg_topo .bt_borda{
   border:2px solid var(--cor-tercearia);
   color: var(--cor-tercearia);
}
.center_itens a:hover {
   background: #ff4902;
   border:2px solid #ff4902;

   color: #fff;
   -webkit-transition: all ease .4s;
   -o-transition: all ease .4s;
   -moz-transition: all ease .4s;
   -ms-transition: all ease .4s;
   transition: all ease .4s;
}

.como_pedir{
   background: var(--cor-secundaria);
}
.como_pedir h2 {
   font-size: 60px;
   font-family: "Roboto";
   color: rgb(255 255 255);
   font-weight: 900;
   letter-spacing: -1px;
   line-height: 1.183;
   text-align: center;
 }
 
 .como_pedir p {
   font-family: "Roboto";
   text-align: center;
   color: #fff;
   font-size: 29px;
   max-width: 520px;
   font-weight: 300;
   margin: auto;
}


.como_pedir .row_center_left, .como_pedir .row_center_right{
   max-width: 946px;
}

.como_pedir h3 {
   color: #fff;
   font-size: 30px;
   letter-spacing: 0px;
   font-weight: 700;
}
.como_pedir .row_center_right h3 {
   text-align: right;
}
.como_pedir h3 span{
   background: var(--cor-primaria);
   border-radius: 50px;
   height: 52px;
   width: 52px;
   line-height: 52px;
   color: #fff;
   font-size: 29px;
   font-weight: 900;
   text-align: center;
   margin-top: 6px;

   display: inline-block;
}



.como_pedir ul{
list-style: none;
padding-left: 17px;
margin-top: 16px;

}
.como_pedir svg{
   width: 25px;
   fill:#fff;
   margin-right: 10px;
}

.como_pedir ul li{
   font-size: 22px;
   color: #bfbaba;
   font-weight: 300;
   margin-top: 5px;
}
.como_pedir .row_center_right ul li{
text-align: right;
}
.como_pedir .n_01{
   background: url(../img/01.png);
}
.como_pedir .n_02{
   background: url(../img/02.png);
}
.como_pedir .n_03{
   background: url(../img/03.png);
}
.como_pedir .row_center_left, .como_pedir .row_center_right {
background-repeat: no-repeat;
}

.como_pedir .row_center_left{
background-position: bottom right;
}
.como_pedir .row_center_right {
   background-position: bottom left;
}

.como_pedir a{
   background: var(--cor-quaternaria);
   display: block;
   color: #fff;
   font-size: 23px;
   border-radius: 60px;
   text-decoration: none;
   max-width: 239px;
   width: 100%;
   text-align: center;
   font-weight: 800;
   padding: 14px;
}
.produtos h2 {
   text-align: center;
   font-size: 49px;
   color: #404040;
   font-weight: 400;
}
.produtos h2 span {
   font-weight: 900;
   color: var(--cor-secundaria);
}
.produtos .envolve_produtos {
   border: 1px solid #dfdfdf;
   border-radius: 20px;
   text-decoration: none!important;
   display: block;
}
.produtos .envolve_produtos h4 {
   text-align: left;
   font-size: 19px;
   margin: 20px 20px 0px 20px;
   color: #363636;
}
.produtos .envolve_produtos p {
   font-size: 15px;
   font-family: Roboto;
   color:#858585;
   line-height: 24px;
   padding: 0px 20px;
   text-align: left;
}
.produtos .envolve_produtos span {
   font-weight: 600;
   font-size: 24px;
   padding: 0 20px 25px 20px;
   display: block;
   color: #000;
       text-align: left;
 }
.produtos .envolve_produtos .d-flex{
   font-size: 18px;
   font-weight: 500;
   color: var(--cor-quaternaria);
   line-height: 27px;
}

.produtos .envolve_produtos .parcelas {
   color: #585858;
   font-size: 16px;
   margin-top: 0;
}
.produtos .envolve_produtos .parcelas small{
   font-size: 13px;
}
.parcelas b:first-child {
   margin: 0 -3px 0 0;
}
my-component ::part(shadowclass){
   background-color: pink;
}
nav {
   background: var(--cor-secundaria);
   padding: 15px;
   box-shadow: 0 4px 20px #00000029;
}
.container_produto img{
border-radius: 9px;
}
.container_produto h1{
color: #606060;   
font-weight: 400;
font-size: 35px;
}
.container_produto h1 span{
color: rgba(0,0,0,.9);   
font-weight: 800;
}

.container_produto p{
   font-size: 18px;
   color: #585858;
}
.container_produto p b{
   font-weight: 900;
   font-size: 20px;
   color: #000;

}
.container_produto p span {
   padding: 0 2px 0 7px;
   color: #c1c1c1;
   }

.container_produto small {
   font-weight: 900;
   font-size: 40px;
   display: block;
   color: rgba(0,0,0,.9);
}

.container_produto a, .carrinho .bt_avancar, .bt_avancar {
    background: var(--cor-quaternaria);
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}
    .bt_avancar:hover{
        color:#fff;
        cursor: pointer;
        text-decoration:none;
    }
    .container_produto .maisdetalhes {
        color: var(--cor-primaria);
        background: transparent;
        padding: 5px 10px 6px 0px;
        margin: -6px 0 0 0;
        font-size: 16px;
        text-decoration: underline;
    }

.container_produto .descri{
       font-size: 15px;
   color: #585858;
}

.container_produto .descri b{
   font-weight: 900;
   font-size: 20px;
   color: #606060;

}



header {
    margin-top: 170px;
 }







.form-row {
   display: inline-block;
   width: 49.3%;
   border: 1px solid transparent;
   margin: 2px 0;
   vertical-align: top;
}

.product-addon {
   width: 100%;
   padding: 20px;
   border: 2px solid #afafaf;
   border-radius: 6px;
   position: relative;
}
.addon-name {
   font-size: 16px!important;
   text-transform: uppercase;
   position: absolute;
   margin-bottom: 8px;
   margin-top: -34px;
   padding: 5px 8px;
   background-color: #fff;
   display: inline-block;
   font-weight: 900;
}
.form-row .opcao_extra {
   margin: 0;
   background-color: #f1f1f1;
   padding: 5px 5px;
   vertical-align: middle;
   border-radius: 4px;
  
   text-transform: uppercase;
   font-weight: 900;
   font-weight: 700;
   font-size: 12px!important;
   letter-spacing: 0.4px;
   color: #000;
}
form p label {
   display: inline-block;
   width: 100%;
   margin-bottom: 5px;
   color: #333;
   font-size: 13px;
}
p.form-row label input[type=checkbox] {
   position: relative;
   top: -1px;
   vertical-align: middle;
   margin-top: 0;
}
.form-row label .woocommerce-Price-amount {
   font-size: 12px!important;
}
.woocommerce-Price-currencySymbol {
   font-size: 80%;
   position: relative;
}
.form-row label .woocommerce-Price-amount sup {
   font-size: 100%!important;
   bottom: 0;
   font-weight: inherit;
}






dl.product-addon-totals {
   margin-bottom: 20px;
   overflow: hidden;
   padding: 15px 20px;
   border: 2px solid #afafaf;
   border-radius: 6px;
   color: #333;
   background-color: #fafafa;
}
dl.product-addon-totals dt {
   width: 115px;
   float: left;
   clear: left;
   padding: 5px 0;
}
dl.product-addon-totals dd {
   float: left;
   font-size: 110%;
}
strong, b {
   font-weight: 700;
}
span.amount {
   font-weight: 900;
   color: #000;
   font-size: 20px;
}

/*LGPD*/
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

.pp {
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   bottom: 0;
   z-index: 9;
   width: 100%;
   height: 0;
   overflow: hidden;
   transition: height 0.4s ease;
}

   .pp.-active {
       height: 70px;
   }










   .de div, .de{
      font-size: 18px;
      color: #767676;
      font-weight: 400;
      line-height: 4px;
      text-decoration: line-through;
      display: flex;
  }
 .de div{
   margin-left: 2px;
 }
  .parcela {
   font-size: 18px;
   color: var(--cor-quaternaria);
   font-weight: 500;
   line-height: 13px;
}
ul.star {
   display: inline-flex;
   list-style: none;
   padding: 0;
}

.star li{
   margin-right: 5px;

   margin-right: 5px;
   font-size: 20px;
   color:#d9d9d9;
}

.parcelado{
   display: flex;
   font-size: 17px;
   font-weight: 400;
   margin-top: -10px;
   margin-bottom: 20px;
}

.star li:nth-last-child(5n) {
   color: var(--cor-primaria);
 }
.star li:nth-last-child(4n) {
   color: var(--cor-primaria);
 }

 .star li:nth-last-child(3n) {
   color: var(--cor-primaria);
 }

 .star li:nth-last-child(2n) {
   color: var(--cor-primaria);
 }

 .star li:nth-last-child(1n) {
   color: var(--cor-primaria);
 }

 .tit2_pradois  {
   font-weight: 800;
   font-size: 39px;
}
.linkbuild_top p, .carrinho p {
   font-size: 15px!important;
   line-height: 26px;
   margin-bottom: 20px;
   font-weight: 400;
}
.linkbuild_top h2 {
    font-size: 18px;
}
.linkbuild_top p:first-child{
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;   
}

.linkbuild_top a {
   font-weight: 600;
   color: var(--cor-primaria) !important;
   text-decoration: underline;
   opacity: 0.7;
   
}
.linkbuild_top button {
   border: none;
   background: #fff;
   color: var(--cor-primaria) !important;
   font-weight: 600;
   font-size: 13px;
   padding:  0 ;
   line-height: 0;
   margin: 6px auto 0 auto;
   display: block;
   border: 0px solid transparent;
}
.linkbuild_top button svg{
   width: 15px;
   fill: var(--cor-primaria) !important;
}
.linkbuild_top:not(.show) {
   display: block!important;
   height: 30px;
   overflow: hidden;
    will-change: height;

}

.linkbuild_top.multi-collapse.collapse {
   grid-template-columns: 90% 100px!important;
   display: grid!important;
}

.linkbuild_top.multi-collapse.collapse.show {
   display: block!important;
}


.linkbuild_top.multi-collapse.collapse.show .float_button {
   position: sticky;
   bottom: 10px;
}
.linkbuild_top .ver_menos{
   padding: 10px 10px;
   box-shadow: 0 0px 30px #00000069;
   border-radius: 50px;
   bottom: 10px!important;
}
.linkbuild_top.multi-collapse.collapse.show p:first-child {
   text-overflow: unset;
   overflow: inherit;
   white-space: break-spaces;
}
.swiper {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .categorias svg {
   width: 12px;
fill:var(--cor-primaria);
}
.categorias h2 a, .categorias h2 button {
    background: transparent;
    border: none;
    float: right;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-primaria);
    text-decoration: none;
}
    .categorias h2 a:hover, .categorias h2 button:hover {
        text-decoration: underline;
    }

.categorias h2 {
   font-size: 35px;
   font-weight: 600;
   color: #000;
   text-align: left;
   
}
.linkbuild_2 h3 {
    color: #a6a6a6;
    font-size: 18px;
    margin-bottom: 25px;
}
.banner_categ{
    background-color: var(--gradiente-primario) !important;
   }



.banner_categ{
   height: 250px;
   display: block;
   margin-left: auto;
   margin-top: 30px;
   background-position: top right;
   background-size: contain;
   background-repeat: no-repeat;
}

.banner_categ .categ_text{
   background: #ffffff0f;
   padding: 13px 40px;
   color: #ffffff;
   margin-top: 91px;
   max-width: 543px;
   line-height: 43px;
   font-size: 23px;
   font-weight: 600;
   border-radius: 109px;
   letter-spacing: 0px;
}
.btn_cadastrar_gen{
    background: #3c2525;
   padding: 8px 14px;
   color: #d78d70;
   border-radius: 41px;
}
.linkbuild_2 h2 {
   color: #a6a6a6;
   font-size: 30px;
   margin-bottom: 25px;
}
.linkbuild_2 p {
   color: #a6a6a6;
   font-size: 20px;
}
.linkbuild_2 p a {
   color: var(--cor-primaria);
   font-weight: 500;
}
footer .copright{
   background: var(--cor-secundaria);
   padding: 15px 0;
   color: #fff;
   text-align: center;
}
.descricao{
   border-bottom: 1px solid #d9d9d9;
}
.descricao h2 {
   font-weight: bolder;
   font-size: 40px;
}
.descricao p {
   font-size: 20px;
}

.tit_descri {
   background: #e3e3e3;
   color: #412020;
   padding-bottom: 14px;
}

.descricao b {
   font-weight: 700;
   font-size: 24px;
}

.container_produto .de{
     display: block;
}
.container_produto .parcelado {
   display: block;
}


/*CARRINHO*/
.cart-info td.product-remove, .woocommerce table.wishlist_table tr td.product-remove {
   width: 30px!important;
}
.cart-info tbody td.product-thumbnail {
   padding: 30px 0!important;
   min-width: 50px;
}

.cart-info tr:nth-child(odd) td {
   background-color: #f9f9f9;
}

.cart-info td.product-name {
   text-align: left;
}
.cart-info tbody td, .wishlist_table tbody td {
   vertical-align: middle;
   background-color: #fff;
   border-bottom: 1px solid #e8e8e8;
}
.cart-info tbody td, .wishlist_table tbody td {
   padding: 30px 15px!important;
}

.cart-info tr:nth-child(odd) td {
   background-color: #f9f9f9;
}

.cart-info tbody .model, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
   font-weight: 700;
   color: #444;
}
.cart-info tbody .product-quantity, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
   text-align: center;
}
.cart-info tbody td, .wishlist_table tbody td {
   vertical-align: middle;
   background-color: #fff;
   border-bottom: 1px solid #e8e8e8;
}
.cart-info tbody td, .wishlist_table tbody td {
   padding: 30px 15px!important;
}

.cart-info tr:nth-child(odd) td {
   background-color: #f9f9f9;
}
.cart-info tbody .product-quantity, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
   text-align: center;
}
.cart-info tbody td, .wishlist_table tbody td {
   vertical-align: middle;
   background-color: #fff;
   border-bottom: 1px solid #e8e8e8;
}
.cart-info tbody td, .wishlist_table tbody td {
   padding: 30px 15px!important;
}

.cart-info tr:nth-child(odd) td {
   background-color: #f9f9f9;
}
.cart-info tbody .model, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
   font-weight: 700;
   color: #444;
}
.cart-info tbody .product-quantity, .cart-info tbody .product-price, .cart-info tbody .product-subtotal {
   text-align: center;
}
.cart-info tbody td, .wishlist_table tbody td {
   vertical-align: middle;
   background-color: #fff;
   border-bottom: 1px solid #e8e8e8;
}
.cart-info tbody td, .wishlist_table tbody td {
   padding: 30px 15px!important;
}

.woocommerce table.shop_table_responsive tr.cart_item {
   position: relative;
}
table.shop_table.cart td.product-quantity div.quantity input.input-text.qty.text {
   max-width: 100%;
   vertical-align: middle;
   width: 40px;
   text-align: center;
   border: 1px solid #f1f1f1;
   border-radius: 2px;
}
div.quantity input[type=number] {
   width: auto;
   max-width: 38px;
   text-align: center;
   padding: 15px 8px;
   background: 0 0!important;
   font-weight: 700;
}


td div.quantity input.lafka-qty-plus, td div.quantity input.lafka-qty-minus {
   display: none!important;
}
div.quantity input.lafka-qty-plus {
   right: 3px;
}
div.quantity input.lafka-qty-plus, div.quantity input.lafka-qty-minus, .auction_form input.plus, .auction_form input.minus, p.product.woocommerce.add_to_cart_inline+.links div.quantity input.rigid-qty-plus, p.product.woocommerce.add_to_cart_inline+.links div.quantity input.rigid-qty-minus {
   display: block;
   position: absolute;
   width: 30px;
   height: 30px;
   line-height: 30px;
   top: 50%;
   margin-top: -15px;
   border: none!important;
   background: 0 0!important;
   padding: 0;
   border-radius: 50%;
   font-weight: 700;
   font-size: 17px;
   cursor: pointer;
}
.product-quantity input[type=number] {
   -moz-appearance: textfield;
}







.bolsa_home svg {
    fill: #636363;
    font-size: 30px;
    margin: 14px 0px 0 20px;
    width: 38px;
}

.badge-info {
    color: #fff !important;
    background-color: #21ce35 !important;
    margin: 35px 0px 0px -11px !important;
    position: absolute;
}



.modal-backdrop {
    background-color: #3c2525 !important;
}



.searchbox, .searchbox:before, .searchbox*:after {
    box-sizing: inherit;
}

    .searchbox, .searchbox:active, .searchbox:focus {
        outline: none;
    }

.searchbox {
    position: relative;
    height: 80px;
    width: 100%;
    background: #fff !important;
    margin: 40% auto 50px auto;
    overflow: hidden;
    border-bottom: 5px solid var(--cor-primaria);
    background: none;
    color: #27287d;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.searchbox--active {
    color: #000;
}

.searchbox:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0px;
    transform: rotateX(90deg);
    background: #fff;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.searchbox--active:after {
    top: 0px;
    left: 0px;
    transform: rotateX(0deg);
}

.searchbox input {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-right: 44px;
    border: none;
    font-size: 1em;
    color: inherit;
    background: none;
    font-size: 29px;
    font-family: "Open Sans";
    padding: 20px;
}

.searchbox .sb-search-submit:hover {
    background-color: var(--cor-primaria);
    -webkit-transition: all ease .600s;
    -o-transition: all ease .600s;
    -moz-transition: all ease .600s;
    -ms-transition: all ease .300s;
    transition: all ease .600s;
}

.searchbox .sb-search-submit {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 70px;
    border: none;
    background: #adadad;
    background-position: center center;
    background-size: 20px;
    font-size: 1.4em;
    color: inherit;
    -webkit-transition: all ease .600s;
    -o-transition: all ease .600s;
    -moz-transition: all ease .600s;
    -ms-transition: all ease .300s;
    transition: all ease .600s;
}

.modal-backdrop.show {
    opacity: 0.98!important;
}




.modal-conten {
    pointer-events: auto;
}



.menu_mobi {
    background: #3c2525;
    display: flex;
    align-items: center;
    padding: 0;
}
.envolve_menu_mobi {
    display: flex;
    align-items: center;
}

    .envolve_menu_mobi .bolsa_home svg {
        fill: #515151;
        font-size: 33px;
        margin-left: 20px;
        width: 30px;
        margin: 14px 0px 0 0;
    }

    .envolve_menu_mobi .badge-info {
        color: #fff !important;
        background-color: #21ce35 !important;
        margin: 19px 0px 0px -31px !important;
        font-size: 11px;
        width: 16px;
        height: 16px;
        position: absolute;
    }

    .envolve_menu_mobi i {
        margin-right: 20px;
    }

.nav_nova .envolve_menu_mobi .nav-link {
    margin-right: 18px;
}
.menu_mobi svg {
    fill: #ffffff;
}

nav .container {
    background: #fff;
}





.navbar_gen .nav-item button.active,
.navbar_gen .nav-item button.nav-link:visited,
.navbar_gen .nav-item:visited button.nav-link
.navbar_gen .nav-item button.active,
.navbar_gen .nav-item button.nav-link:focus,
.navbar_gen .nav-item:focus button.nav-link,
.navbar_gen .nav-item button.active,
.navbar_gen .nav-item button.nav-link:hover,
.navbar_gen .nav-item:hover button.nav-link {
    background: transparent;
    border: none !important;
    outline: none;
}

.navbar_gen .nav-item button.nav-link {
    border: none;
    background: transparent;
}









    .galeria_produto .mySwiper {
        padding: 10px;
        background: #000;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
    }

.mySwiper2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 56%);
}


.mySwiper .swiper-slide img {
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active img {
    opacity: 1 !important;
}


.swiper-slide {
    border-radius: 10px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    color: #a1a1a1c9;
}




.opcao_extra {
    background: #ebebeb;
    border-radius: 10px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    grid-template-columns: 40px auto;
    display: grid;
}

    .opcao_extra img {
        width: 43px;
    }
    .opcao_extra .envolve_opcoes {
        font-size: 12px !important;
        letter-spacing: -0.3px;
        padding: 0px 5px 5px 5px;
        display: grid;
    }


.opcao_extra button{
    width: 81px;
    font-size: 12px;
}

.envolve_opcoes button {
    padding: 0;
}









.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.font-size-18 {
    font-size: 18px !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 

.carrinho .card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.carrinho .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}


.titulo_carrinho {
    color: var(--cor-primaria);
 }


.carrinho .card-body {
    padding: 10px;
}
.carrinho .card{
    margin-bottom: 10px;
}

.carrinho .bt_avancar {
    width: 100%;
}

.remove {
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    padding: 4px 8px 7px 8px
}

.opcoesExtraCarrrinho .preco_opcao_extra {
    padding: 4px 8px;
    font-size: 15px;
    position: absolute;
    background: #412020;
    border-radius: 4px;
    top: 5px;
    left: 5px;
    font-weight: 900;
    color: #fff;
 }



.direcional .swiper-button-next:after, .direcional .swiper-button-prev:after {
    color: #ff4700;
}
.direcional .direcional .swiper-button-next:after, .direcional .swiper-button-prev:after {
    font-size: 25px;
}

/*.direcional .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
}*/

.direcional {
    width: 80px;
    position: relative;
    margin: 13px 0 0 auto;
}


.carrinho .card-header h5{
    display: grid;
    grid-template-columns: auto 80px;
}




.nome_opcao_extra {
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 15px;
    font-weight: 600;
    padding: 9px 0 4px 0;
}

.opcoesExtraCarrrinho  a {
    background: #fff;
    border: 2px solid #bbbbbb;
    border-radius: 15px;
    font-size: 15px;
    color: #000;
    padding: 0px 10px;
    margin: 0;
}

.opcoesExtraCarrrinho img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
.envolve_produtos img{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.detalhes_produto h3, .detalhes_produto h2 {
    text-align: center;
    font-size: 49px;
    color: #404040;
    font-weight: 400;
    letter-spacing: -1px;
}

    .detalhes_produto h3 span, .detalhes_produto h2 span {
        font-weight: 900;
        color: var(--cor-secundaria);
    }


.container_produto h1 div {
    font-size: 20px;
    font-weight: 300;
}

.tab-content > .active {
    display: flex!important;
}


.nav .btn {
    background: transparent;
    color: #007bff;
    font-weight: 600;
    margin: 0 5px 0 0;
}

.nav .btn {
    background: transparent;
    color: #007bff;
    font-weight: 600;
    margin: 0 5px 0 0;
}

    .nav .btn.active {
        background: #007bff;
    }



    @media (max-width: 1399.98px) {
        .pp.-active {
            height: auto;
        }
    }

    .pp__box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   padding: 20px 0;
}

.pp__text {
   font-size: 1rem;
   line-height: 2rem;
   margin: 0;
   color: #FFF;
}




 

/* Main Ticket Style */
.ticketContainer {
    display: flex;
    flex-direction: column;
/*    align-items: center;
*/}

.ticket {
    background-color: #f5f5f5;
    color: darkslategray;
    border-radius: 12px;
    z-index: 9;
}

.ticketShadow {
    animation: bouncingShadow 0.6s ease-out infinite alternate;
    margin-top: 4px;
    width: 95%;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(12px);
}

/* Ticket Content */
.ticketTitle {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 16px 4px;
}

.ticketContainer hr {
    width: 90%;
    border: 1px solid #8f8f8f;
}

.ticketDetail {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 16px;
}

.ticketSubDetail {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 12px 16px;
}

    .ticketSubDetail .code {
        margin-right: 24px;
    }

/* Ticket Ripper */
.ticketRip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circleLeft {
    width: 12px;
    height: 24px;
    background-color: #d5d5d5;
    border-radius: 0 12px 12px 0;
}

.ripLine {
    width: 100%;
    border-top: 3px solid #d5d5d5;
    border-top-style: dashed;
}

.circleRight {
    width: 12px;
    height: 24px;
    background-color: #d5d5d5;
    border-radius: 12px 0 0 12px;
}

.bgticket {
    background: #d5d5d5;
    padding: 50px 0px;
}



.resumo_pedido td, .resumo_pedido th {
    padding: 5px 0;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}


.resumo_pedido table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}


.resumo_pedido td {
    font-size: 14px;
    font-weight: 400;
}

.resumo_pedido {
    /*    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;*/
    padding: 15px 15px 1px 15px;
    background: #ffffff;
}

    .resumo_pedido td:last-child, .resumo_pedido th:last-child {
        text-align: right;
    }

.reumo_pedido2 {
    padding: 10px;
}
.reumo_pedido2 table {
    width: 100%;
}
    .reumo_pedido2 table td:last-child {
        text-align: right;
        font-size: 30px;
        font-weight: 600;
        color: #000;
    }

.ticketDetail div {
    font-weight: 400;
}

.ticketDetail_titulo {
    margin-top: 25px;
    margin-bottom: 10px;
}

.ticketDetail h3 {
    font-size: 24px;
    color: #000;
}

.reumo_pedido2 {
    border: 0px solid #000;
}
.ticketDetail div {
 
}

.detail_ticket {
    font-size: 16px;
    color: #000;
    line-height: 16px;
}

@keyframes bouncingCard {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-18px);
    }
}

@keyframes bouncingShadow {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(4px);
    }
}

.chacoalha_botao {
    animation: bouncingCard 0.6s ease-out infinite alternate;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.botao_deapoio {
    border-radius: 50px;
    margin-left: auto;
    display: block;
    margin-right: 30px;
    margin-top: 13px;
    background: #ff4700;
    border: #ff4700;
    color: #fff;
}
    .botao_deapoio:hover {
        background: #ff4700;
    }


.form_admin label.control-label {
    font-size: 14px;
    font-weight: 800;
}



    @media (max-width: 1399.98px) {
        .pp__text {
            width: 70%;
        }
    }

    @media (max-width: 991.98px) {

        .pp__text {
            text-align: center;
            margin: 0 10px 10px 10px;
            width: auto;
            line-height: 17px;
        }
    }

    .pp__close {
   position: absolute;
   right: 10px;
   bottom: 0;
   top: 0;
   background: transparent;
   width: 40px;
   height: 40px;
   border: none;
   opacity: 1;
   margin: auto;
}
.admin thead {
    position: sticky;
    top: 0;
    background: #e1e1e1;
}
.admin a svg, .admin td svg {
    width: 16px;
}
.admin a svg {
    margin-right: 15px;
}




.paginador_admin .page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
}
.paginador_admin .page-link {
    color: #343a40 !important;
 }

.admin td span {
    color: #000;
}
.admin a:hover svg {
    fill: #ff4700;
}





.tab-pane.fade.row {
    display: none;
}

 .tab-pane.fade.row.active {
 display: flex;
 }
.busca_admin label {
    margin: 0;
}

.readonly-checkbox, #readonly-checkbox {
    opacity: 0.5; /* Adiciona opacidade para simular desativado */
    pointer-events: none; /* Impede eventos do mouse, incluindo cliques */
}

/*
.espaca_td2 {
    width: 130px;
}


.espaca_td3 {
    width: 80px;
}
.espaca_td4 {
}
.espaca_td5 {
    width: 130px;
}
.espaca_td6 {
    width: 100px;
}
.espaca_td7 {
    width: 100px;
}*/

.nav-item .active {
    color: #f00;
    font-weight: 300;
}
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none; /* Opcional: remover qualquer sombra adicionada pelo Bootstrap */
}


.baner_principal .bannerSite .swiper-button-prev,
.baner_principal .bannerSite .swiper-button-next {
    background: #fff;
    border-radius: 35px !important;
    height: 40px !important;
    width: 40px !important;
}

.baner_principal .bannerSite .swiper-button-next:after, .baner_principal .bannerSite .swiper-button-prev:after {
    font-size: 20px !important;
}


.home_titulo {
    margin-top:50px;
    margin-bottom: 50px!important;
}
.padding_home {
    padding-top: 50px;
    padding-bottom: 50px;
}
.baner_principal .bannerSite .swiper-slide img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 para o contêiner de vídeo */
    height: 0;
}

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

     
/*.onb-embed-responsive-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}*/

 

/* 
.onb-embed-responsive__16by9 {
    padding-bottom: 56.25%;
}
 
.onb-embed-responsive__4by3 {
    padding-bottom: 75%;
}*/
/*MEIO DO CSS*/

 


















@media (max-width: 991.98px) {
   .pp__close {
       top: unset;
       bottom: 10px;
   }
}

.pp .button {
   font-family: "Montserrat", sans-serif;
   position: relative;
   padding: 0px 8px;
   font-size: 0.8rem;
   line-height: 2rem;
   font-weight: 700;
   border-radius: 5px;
   outline: none;
   box-shadow: unset;
   color: #fff;

   border: none;
   overflow: hidden;
   background-color: #ff6102;
   display: table;
   transition: color 0.5s ease, background-color 0.3s ease, border 0.3s ease-out, left 0.5s ease-out;
   z-index: 1;
   cursor: pointer;
   text-decoration: none;
   margin: 0 0 0 10px;
}

   .pp .button:hover {
       background-color: var(--cor-tercearia);
       text-decoration: none;
       color: #000;
       outline: none;
   }

   .pp .button:focus {
       outline: none;
       box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
   }

   .produtos .envolve_produtos:hover span {
      color: var(--cor-primaria);
      font-weight: 900;
   }

@media (min-width: 992px) {
   .d-none-min-sm{
       display: none!important;
   }
    .envolve_menu_mobi {
        display: none !important;
    }
    .baner_principal .bannerSite .swiper-slide img {
        width: auto;
        height: 100%;
    }

}


   /* Extra small devices (portrait phones, less than 576px)*/
   @media (max-width: 400px) {
    .menu_mobi {
        padding: 0;
    }
   }
   
    /* Small devices (landscape phones, less than 768px)*/
   @media (max-width: 767.98px) {
       .bg_topo h1 {
           font-size: 42px;
           line-height: 55px;
           max-width: 275px;
           letter-spacing: 1px;
       }
       .img_topo{
           background-image:url(../img/img_topo_xs.png) ; 
           background-size:contain!important;
        }
        .como_pedir h3 {
            font-size: 22px;
           letter-spacing: 0px;
           font-weight: 700;
           margin-left:auto ;
           margin-right:auto ;
           text-align: left!important;
        }
       .como_pedir ul {
      
           padding-left: 0!important;

       }
       .como_pedir a{
          margin-left:0!important ; 
          margin-right:auto ; 
       }
       .como_pedir .row  ul li {
           text-align: left!important;
           font-size: 17px;
       }
       .como_pedir svg {
           width: 14px!important;
       }
       .como_pedir h3 span {
           height: 30px;
           width: 30px;
           line-height: 30px;
           font-size: 20px;
    }

    .como_pedir .row_center_right {
       background-position: bottom right;
   }
   .como_pedir h2 {
       font-size: 39px;
         letter-spacing: 0;
   }
   .como_pedir p {

       font-size: 22px;
    }

    .bg_topo {
       background: linear-gradient(315deg, rgb(54 32 32) 30%, rgba(87,51,51,1) 90%);
       border-bottom: 10px double #fff;
   }
   .como_pedir a {
       font-size: 18px;
       padding: 10px;
   }
   .center_itens a {
       padding: 11px 0;
       font-size: 18px;
   }
   .container_produto h1{
       text-align: center;
       line-height: 50px;
   }
   .container_produto h1 span{
       text-align: center;
   }
   .container_produto small {
       text-align: center;
   }
   .container_produto a{
       text-align: center;

}
.tit2_pradois {
   font-weight: 700;
   font-size: 27px;
   line-height: 36px;
}
.categorias svg {
   width: 16px;
}

.categorias h2 {
   font-size: 19px;
    color: #000;
   text-align: left;
}
.produtos .envolve_produtos span {
   padding: 0 0px 25px 15px;
}
.produtos .envolve_produtos h4 {
   margin: 20px 20px 0px 15px;
}
.produtos .envolve_produtos p {
   padding: 0px 20px 0px 14px;
}
.produtos .envolve_produtos .d-flex {
   font-size: 15px;
}
.banner_categ .categ_text {
   background: transparent!important;
   padding: 0;
   color: #cb8c73;
   margin-top: 70px;
   max-width: 183px;
   line-height: 33px;
   font-size: 26px;
   font-weight: 600;
   border-radius: 109px;
   letter-spacing: 0px;
}

.linkbuild_top.multi-collapse.collapse {
   grid-template-columns: 70% 100px!important;
}
button.btn.btn-link.btn-block.text-left.tit2_gen.p-4 {
   font-size: 20px;
}
    h2.tit1_gen {
        font-size: 30px !important;
    }
.descricao h2 {
   font-size: 30px;
}
.produtos h2 {
   font-size: 40px;
}
.product-addon .form-row {
   width: 100%;
   }
   .container_produto .parcela {
      line-height: 21px;
      text-align: center;
      margin: auto;
   }
    .envolve_star {
        width: fit-content;
        margin: 15px auto 15px auto;
    }
}

   
   /* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .img_topo {
        background-image: url(../img/img_topo_xs.png);
        background-size: 605px;
    }

    .como_pedir .row_center_right {
        background-position: bottom right;
    }

    .produtos .envolve_produtos span {
        font-size: 19px;
    }

    .produtos .envolve_produtos {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 8px;
    }

    .navbar.nav_nova {
        background: -moz-linear-gradient(left, #fff 0%, #fff 4%, #fff 50%, #830101 50%, #830101 50%, #830101 50%, #830101 50%, #830101 50%, #830101 50%, #830101 50%, #830101 100%) !important;
        background: -webkit-linear-gradient(left, #fff 0%,#fff 4%,#fff 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 100%) !important;
        background: linear-gradient(to right, white 0%,white 4%,white 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 50%,#3c2525 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##fff', endColorstr='#830101',GradientType=1 ) !important;
    }

    .navbar_gen .navbar-brand img {
        width: 100px !important;
    }

    .galeria_produto {
        max-width: 521px;
    }

    header {
        margin-top: 105px;
    }

    .bt_avancar {
        font-size: 19px;
    }

    .detalhes_produto h3, .detalhes_produto h2 {
        text-align: center;
        font-size: 30px;
    }

    .busca_admin label {
        display: none;
    }

    .busca_admin .form-group {
        padding: 0 2px 0 2px;
    }

    .admin .table {
        font-size: 12px;
    }

    .espaca_td2 {
        width: 130px;
    }

    .espaca_td3 {
        width: 80px;
    }

    .espaca_td4 {
    }

    .espaca_td5 {
        width: 130px;
    }

    .espaca_td6 {
        width: 100px;
    }

    .espaca_td7 {
        width: 100px;
    }

    .baner_principal .bannerSite .swiper-slide img {
        width: 100%;
        height: 100%;
    }

    .produtos .envolve_produtos {
        border-radius: 8px;
    }

    .envolve_produtos img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .produtos .envolve_produtos h4 {
        margin: 5px 5px 0px 5px;
    }

    .produtos .envolve_produtos p {
        padding: 4px 5px 0px 5px;
        line-height: 15px;
        margin-bottom: 4px;
        font-size: 14px;
    }

    .produtos .envolve_produtos span {
        padding: 0 0px 8px 5px;
    }

    .produtos .envolve_produtos h4 {
        font-size: 14px;
        font-weight: 600;
    }

    #preco_card_super_top {
        font-size: 14px;
        letter-spacing: -0.3px;
    }

    .produtos .envolve_produtos .parcelas {
        line-height: 8px;
        font-size: 12px;
        letter-spacing: -0.3px;
    }

    .envolve_produtos .d-flex .ml-auto.mr-20 {
        font-size: 12px;
        margin-right: 5px;
        margin-left: auto !important;
        text-align: right;
        display: block;
    }

    .searchbox {
        border-radius: 10px;
    }

        .searchbox input {
            font-size: 24px;
        }

    .home_titulo {
        margin-top: 20px;
        margin-bottom: 0 !important;
    }

    .padding_home {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .home_titulo {
        text-align: center !important;
    }

    .container_produto a, .carrinho .bt_avancar, .bt_avancar {
        font-size: 20px;
    }
    .home_titulo  span:last-child {
        max-width: 201px;
        margin: auto;
    }
}
   /* Large devices (desktops, less than 1200px)*/
   @media (max-width: 1199.98px) { }